bcrypt==3.2.0
cachelib==0.6.0
cffi==1.15.0
click==8.0.4
colorama==0.4.4
Flask==2.0.3
Flask-Bcrypt==1.0.0
Flask-Session==0.4.0
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
itsdangerous==2.1.0
Jinja2==3.0.3
MarkupSafe==2.1.0
mysql==0.0.3
mysqlclient==2.1.0
pycparser==2.21
python-dotenv==0.20.0
six==1.16.0
SQLAlchemy==1.4.32
Werkzeug==2.0.3
