{% extends '_layout.html' %}

{% block title %}FAQ Page{% endblock %}

{% block body %}
<h1>Frequently Asked Questions (FAQ)</h1>


<table class="table table-hover">
    <tbody>
        <tr>
            <th scope="row">Q</th>
            <td>Mark says: "How does one learn Spanish?"</td>
        </tr>
        <tr>
            <th scope="row">A</th>
            <td>Jacob says: "lfbdshdwflbdfhbahlbahyfb"</td>
        </tr>
        <tr>
            <th scope="row">Q</th>
            <td>Larry says: "How Code?"</td>
        </tr>
    </tbody>
</table>

{% endblock %}