{% extends '_layout.html' %}

{% block title %}FAQ Page{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/faq.css') }}"> {% endblock
%}
{% block body %}
<main>
    <h1>Frequently Asked Questions (FAQ)</h1>

    <table class="table table-hover table-striped">
        <tbody>
            <tr>
                <th scope="row">Q</th>
                <td>What is DuoLing?</td>
            </tr>
            <tr>
                <th scope="row">A</th>
                <td>DuoLing is a forum where users can upload & answer questions, comment on posts,\
                    help out a new member, get to know one another, and interact with a global community\
                    of passionate language learners!</td>
            </tr>
            <tr>
                <th scope="row">Q</th>
                <td>How does one become fluent in another language?</td>
            </tr>
            <tr>
                <th scope="row">A</th>
                <td>Practice, practice, practice!</td>
            </tr>
            <tr>
                <th scope="row">Q</th>
                <td>Do I have to pay to use DuoLing?</td>
            </tr>
            <tr>
                <th scope="row">A</th>
                <td>It's free! We welcome users of all ages 8+ (with parental guidance for those under 16)</td>
            </tr>
        </tbody>
    </table>
</main>
{% endblock %}