{% extends '_layout.html' %}

{% block title %} Login Page {% endblock %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/general.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/login.css') }}">
{% endblock %}
{% block body %}

<main>
    <h1>Log In</h1>
    <hr>

    <form action="/login" method="post">
        <label for="username"><h4>Username</h4></label><br>
        <input type="text" id="username" name="username"><br>
        <br>
        <label for="password"><h4>Password</h4></label><br>
        <input type="password" id="password" name="password">
        <br>
        <br>

        <button type="submit" id="loginbutton" class="btn btn-primary">Log In</button>

        <br>
        <br>
    </form>


    <h2>New User?</h2>
    <a href="/signup"> <button type="button" id="signupbutton" class="btn btn-primary">Sign Up!</button> </a>

</main>
{% endblock %}
