{% extends '_layout.html' %}

{% block title %} Question Example {% endblock %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/general.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/question-example.css') }}">
{% endblock %}

{% block body %}
<main>
    <h1>{{ post.title }}</h1>
    
    
    <div class="container">
        {{ post.body }}
    </div>
    {% if post.updated_at is defined and post.updated_at is not none %}
    <h6>Edited {{ post.updated_at }}</h6>
    {% endif %}
    {% if g.logged_in_user is defined and g.logged_in_user is not none and post.user_id == g.logged_in_user.user_id %}
        <div style="font-size:25px">Posted by <a href="/user/{{ post.user_id }}" style="font-size:25px; color:rgba(0, 0, 0, 1); text-decoration:none" on-hover="text-decoration: underline;"><strong>you</strong></a></div>
        <form id="update_post" action="/post/{{ post.post_id }}/update" method="get">
            <button form="update_post" type="submit" class="btn btn-primary">Edit</button>
        </form>
        
        <form id="delete_post" action="/post/{{ post.post_id }}/delete" method="POST">
            <button form="delete_post" type="submit" class="btn btn-danger">Delete</button>
        </form>
    {% else %}
        <div style="font-size:25px">Posted by <a href="/user/{{ post.user_id }}" style="font-size:25px; color:rgba(0, 0, 0, 1); text-decoration:none" on-hover="text-decoration: underline;"><strong>{{ g.usernames.get(post.user_id) }}</strong></a></div>
    {% endif %}
    
    <!--Main reply and other replies-->
    {% if g.logged_in_user is defined and g.logged_in_user is not none %}
    <h3>Reply</h3>
    <form id ="comment_text" class="main-reply" action = "/post/{{ g.logged_in_user.user_id }}/{{ post.post_id }}/comment" method = "POST">
        <textarea class="container reply main-reply" name="comment_text" id = "comment_text" placeholder = "Write your message here" rows="3"></textarea> <!-- class="main-reply" -->
        <br>
        <button form="comment_text" type="submit" class="main-reply btn btn-primary">Submit</button>
    </form>
    {% endif %}
    <h3>Other People's Replies:</h3>
    {% for comment in comments %}
    <div class="container reply">
        {% if g.logged_in_user is defined and g.logged_in_user is not none and comment.user_id == g.logged_in_user.user_id %}
        <a href="/user/{{ post.user_id }}" style="font-size:15px; color:rgba(0, 0, 0, 1); text-decoration:none"><strong>You:</strong></a>
        {{ comment.comment_text }}
        <a href="/post/{{ post.post_id }}/{{ comment.comment_id }}/edit">Edit</a>
        <a href="/post/{{ post.post_id }}/{{ comment.comment_id }}/delete">Delete</a>
        {% else %}
        <a href="/user/{{ post.user_id }}" style="font-size:15px; color:rgba(0, 0, 0, 1); text-decoration:none"><strong>{{ g.usernames.get(comment.user_id) }}:</strong></a>
        {{ comment.comment_text }}
        {% endif %}
        {% if comment.updated_at is defined and comment.updated_at is not none %} <h6>Edited {{ comment.updated_at }}</h6>{% endif %}
    </div>
    {% endfor %}
    {% if new_comment is defined and new_comment is not none %}
    <div class="container reply">
        {% if g.logged_in_user is defined and g.logged_in_user is not none and new_comment.user_id == g.logged_in_user.user_id %}
        <a href="/user/{{ post.user_id }}" style="font-size:15px; color:rgba(0, 0, 0, 1); text-decoration:none"><strong>You:</strong></a>
        {% else %}
        <a href="/user/{{ post.user_id }}" style="font-size:15px; color:rgba(0, 0, 0, 1); text-decoration:none"><strong>{{ g.usernames.get(new_comment.user_id) }}:</strong></a>
        {% endif %}
        {{ new_comment.comment_text }}
        <a href="/post/{{ post.post_id }}/{{ new_comment.comment_id }}/edit">Edit</a>
        <a href="/post/{{ post.post_id }}/{{ new_comment.comment_id }}/delete">Delete</a>
    </div>
    {% endif %}
</main>



<!-- For when we add pagination and asynchronous scripts -->
<!--nav buttons-->
<footer style="text-align: center; padding-top: 82px; padding-bottom: 25px;">
    <!-- <div class="btn-group" role="group" aria-label="Basic outlined button group">
        <button type="button" class="btn btn-outline-secondary" style="color: rgba(171, 181, 190, 1); border-color: rgba(171, 181, 190, 1)">Prev</button>
        <button type="button" class="btn btn-outline-light" style="color: rgba(119, 73, 248, 1); border-color: rgba(171, 181, 190, 1)">1</button>
        <button type="button" class="btn btn-outline-light" style="color: rgba(119, 73, 248, 1); border-color: rgba(171, 181, 190, 1)">2</button>
        <button type="button" class="btn btn-outline-light" style="color: rgba(119, 73, 248, 1); border-color: rgba(171, 181, 190, 1)">3</button>
        <button type="button" class="btn btn-outline-light" style="color: rgba(119, 73, 248, 1); border-color: rgba(171, 181, 190, 1)">Next</button>
    </div> -->
    <script>
        if ( window.history.replaceState ) {
            window.history.replaceState( null, null, window.location.href );
        }
    </script>
</footer>
{% endblock %}