{% extends '_layout.html' %}

{% block title %} Post Example {% endblock %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/question-example.css') }}">
{% endblock %}

{% block body %}
<main>
    <h1>(Question Text)</h1>
    <!--Question-->
    <h2>(Question)</h2>
    <div class="container">
        In ultricies fermentum aliquet. Pellentesque dui magna, condimentum non ullamcorper at, cursus in sem. Nunc condimentum, purus ac enenatis commodo libero, am auctor porta tortor, nec consequat nibh finibus a. Sed ultrices risus eget iaculis luctus. Mauris vel gravida magna.
    </div>
    <!--Main reply and other replies-->
    <h3>Reply</h3>
    <form id="main-reply">
        <div class="container reply main-reply">
            <label for="reply" class="visually-hidden">Reply</label>
            <textarea class="form-control" id="reply" name="reply" rows="3" placeholder="Type your reply here."></textarea>
        </div>
        <button type="submit">Submit</button>
    </form>
    <h3>Other Replies:</h3>
    <div class="container reply">Lorem ipsum</div>
    <div class="container reply">Lorem ipsum</div>
    <div class="container reply">Lorem ipsum</div>
</main>
<!--nav buttons-->
<footer style="text-align: center; padding-top: 82px; padding-bottom: 25px;">
    <div class="btn-group" role="group" aria-label="Basic outlined button group">
        <button type="button" class="btn btn-outline-secondary" style="color: rgba(171, 181, 190, 1); border-color: rgba(171, 181, 190, 1)">Prev</button>
        <button type="button" class="btn btn-outline-light" style="color: rgba(119, 73, 248, 1); border-color: rgba(171, 181, 190, 1)">1</button>
        <button type="button" class="btn btn-outline-light" style="color: rgba(119, 73, 248, 1); border-color: rgba(171, 181, 190, 1)">2</button>
        <button type="button" class="btn btn-outline-light" style="color: rgba(119, 73, 248, 1); border-color: rgba(171, 181, 190, 1)">3</button>
        <button type="button" class="btn btn-outline-light" style="color: rgba(119, 73, 248, 1); border-color: rgba(171, 181, 190, 1)">Next</button>
    </div>
</footer>
{% endblock %}