{% extends '_layout.html' %}

{% block title %} Question Example {% endblock %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/question-example.css') }}">
{% endblock %}

{% block body %}
<main>
    <h1>{{ post.title }}</h1>
    <!-- Question -->
    <!-- <h2>(Question)</h2> -->
    <div class="container">
        {{ post.body }}
    </div>
    <!--Main reply and other replies-->
    <h3>Reply</h3>
    <form id="main-reply">
        <textarea class="container reply main-reply" form="main-reply">
            Write your message here.
        </textarea>
        <button type="submit" form="main-reply">Submit</button>
    </form>
    <h3>Other People's Replies:</h3>
    {% for comment in comments %}
    <div class="container reply">{{ comment.comment_text }}</div>
    {% endfor %}
</main>


<!-- For when we add pagination and asynchronous scripts -->
<!--nav buttons-->
<!-- <footer style="text-align: center; padding-top: 82px; padding-bottom: 25px;">
    <div class="btn-group" role="group" aria-label="Basic outlined button group">
        <button type="button" class="btn btn-outline-secondary" style="color: rgba(171, 181, 190, 1); border-color: rgba(171, 181, 190, 1)">Prev</button>
        <button type="button" class="btn btn-outline-light" style="color: rgba(119, 73, 248, 1); border-color: rgba(171, 181, 190, 1)">1</button>
        <button type="button" class="btn btn-outline-light" style="color: rgba(119, 73, 248, 1); border-color: rgba(171, 181, 190, 1)">2</button>
        <button type="button" class="btn btn-outline-light" style="color: rgba(119, 73, 248, 1); border-color: rgba(171, 181, 190, 1)">3</button>
        <button type="button" class="btn btn-outline-light" style="color: rgba(119, 73, 248, 1); border-color: rgba(171, 181, 190, 1)">Next</button>
    </div>
</footer> -->
{% endblock %}