{% extends '_layout.html' %}

{% block title %} User Profile {% endblock %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/general.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/profile.css') }}">
{% endblock %}
{% block body %}
<main>
    <h1 class="title">{{ user.first_name }} {{ user.last_name }}</h1>

    <div class="profile">
        <div class="card">
            <div class="profile-img">
                <img src="..." alt="profile">
            </div>
            <div class="profile-bio">
                <p>
                    {{ user.bio }}
                </p>
            </div>
            <div class="profile-add-friend">
                <button type="button" class="btn btn-primary">Add Friend</button>
            </div>
        </div>
        <div class="container">
            <div class="profile-languages">
                <h3>Languages</h3>
                <ul>
                    <li>English</li>
                    <li>Spanish</li>
                    <li>French</li>
                </ul>
            </div>
            <div class="profile-questions">
                <h3>Recent Posts</h3>
                <ul>
                    {% for post in posts %}
                    <li>
                        <a href="/post/{{ post.post_id }}">
                            <h4>{{ post.title }}</h4> <!-- What is the best way to learn a new language? -->
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</main>
{% endblock %}