{% extends '_layout.html' %}

{% block title %} User Profile {% endblock %}

{% block body %}
<style>
    body
    {
        margin: 96 px;
    }
</style>

<div>
    <h1>User Name</h1>
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <button type="button" class="btn btn-primary">Add Friend</button>
    <div>
        <h2>Language Proficiencies:</h2>
    </div>
    <div>
        <h2>Questions Asked:</h2>
    </div>
</div>
{% endblock %}