{% extends '_layout.html' %}

{% block title %} Homepage {% endblock %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/create-question.css') }}"> {% endblock
%}

{% block body %}
<h1 id="ask-question">Ask a Question!</h1>
<!--Page will include a block to fill out a question, a dropdown to add tags, then a purple post button-->
<!-- this is a language learning site -->
<!-- <form class="container=fluid form" action="#" method="POST" id="question">
  <h2>Enter your Question here</h2>
  <div class="form-group">
    <label for="question">Question</label>
    <textarea class="form-control" id="question" form="question" rows="3" name="question" wrap="soft" required></textarea>
  </div>
  <h2>Add tags to your post!</h2>
  <div class="form-group">
    <label for="tags">Tags</label>
    <select class="form-control" id="tags" name="tags" form="question" required>
      <option>a tag</option>
      <option>another tag</option>
      <option>a third tag</option>
    </select>
  </div>
  <button type="submit" class="btn button-post" form="question">Post</button>
</form> -->

<form class="container=fluid form" action="/post/{{ post_id }}" method="POST"> <!-- for="Post" id="question"--> 
  <h2>Enter your Question here</h2>
  <div class="form-group">
    <label for="title">Question</label>
    <textarea class="form-control" id="title"name='title' rows="1" wrap="soft" required>{% if title is defined and title is not none %}{{ title }}{% endif %}</textarea> <!-- form="question" -->
    
  </div>
  <h2>Enter details about your question!</h2>
  <div class="form-group">
    <label for="body">details</label> 
    <textarea class="form-control" id="body"name='body' rows="3" wrap="soft" required>{% if body is defined and body is not none %}{{ body }}{% endif %}</textarea> <!-- form="question" -->
  </div>
  <button type="submit" class="btn button-post">Update</button> <!-- form="question" -->
</form>
{% endblock %}