.form textarea {
  /*make text input box bigger vertically*/
  padding: 40px;
  width: 50%;
}

label {
  font-size: 1.17em;
}

#tags {
  /*make tags input box bigger vertically*/
  padding: 10px;
  width: 50%;
  border-radius: 5px;
}

.button-post {
  padding: 10px;
  margin-top: 10px;
  color:white;
  border-radius: 5px;

  background: linear-gradient(to right, #4c33db  50%, #7749F8 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .3s ease-out;
}
.button-post:hover {
  /*make dropdown menu appear on hover*/
  background-position: left bottom;
  color: aliceblue;
}