main
{
    float: left;
}

.container
{
    width: 500px;
    background-color: #F8F9FA;
    border: 2px solid #7749F8;
    position: relative;
    margin-left: 0px;
}

.reply
{
    width: 420px;
    border: 2px solid #adb5bd;
    margin-left: 0px;
}

button
{
    margin-top: 2px;
}