#signupbutton {
  padding: 10px;
  margin-top: 10px;
  color:aliceblue;
  border-radius: 5px;
  border: none;

  background: linear-gradient(to right, #317370  50%, #368F8B 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .3s ease-out;
}
#signupbutton:hover {
  background-position: left bottom;
  color: aliceblue;
}